

h1 {font-size: 8vw;
    color: floralwhite;
    font-family: sans-serif;
    font-weight: 100;
}
   
h2 {font-size: 8vw;
    color: floralwhite;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 2px
}


    nav ul {list-style-type: none; 
        text-align: center;
        letter-spacing: 10px;
        line-height: 0.8px;
        font-family: sans-serif;
        line-height: 3;
        float: right;
    } 
    
    a {text-decoration: none; 
        color: floralwhite;
    }
    
    a:hover {
        color:black;   
    }
    
    li {display: inline; 
        text-decoration: none;
        font-size: 3vw; 
    }

ul li2 {font-family: sans-serif;
    color: floralwhite;
    font-size: 2.5vw;
    list-style: none;
    text-align: middle; 
}


    body {background-color: darkkhaki
    }