

h2 {font-size: 10vw;
    color: floralwhite;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 0.8;
    border-left-style: solid;
    border-color: floralwhite;
    border-left-width: thick;
}


h1 nav ul {list-style-type: none; 
        letter-spacing: 10px;
        font-family: sans-serif;
        font-weight: 100;
        display: block;
        text-align: right;
        margin-top: -10px;
        margin-left: 10px;
    } 
    
    a {text-decoration: none; 
        color: floralwhite;
    }
    
    a:hover {
        color:black;   
    }
    
    li {display: inline; 
        text-decoration: none;
        font-size: 3vw; 
    }

ul li2 {font-family: sans-serif;
    color: floralwhite;
    font-size: 2.5vw;
    list-style: none;
    text-align: right;
    float: right;
    
}


    body {background-color: darkkhaki
    }